<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>
      Sobre:
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>

  <img src="assets/cantor.png" alt="">
  <ion-card>
    <ion-card-header>
    <ion-card-title>Desenvolvido por:</ion-card-title>
  </ion-card-header>
  <ion-item>
    <ion-icon name="accessibility-outline" slot="start"></ion-icon>
    <ion-label>Salgadinho</ion-label>
  </ion-item>
  <ion-item>
    <ion-icon name="mail-unread-outline" slot="start"></ion-icon>
    <ion-label>Salgadinho@pagodebom.com</ion-label>
  </ion-item>
  <ion-item>
    <ion-icon name="headset-outline" slot="start"></ion-icon>
    <ion-label>www.pagodedearrepiar.com.br</ion-label>
  </ion-item>
  <ion-item>
    <ion-icon name="logo-instagram" slot="start"></ion-icon>
    <ion-label>Inaraí_S</ion-label>
  </ion-item>
  <ion-item>
    <ion-icon name="ellipsis-horizontal-outline" slot="start"></ion-icon>
    <ion-label>V: 0.0.1</ion-label>
  </ion-item>
</ion-card>

</ion-content>
